@import "tailwindcss";

@theme {
  --font-*: initial;
  --font-sans: "Kumbh Sans", serif;
  --font-primary: "Kumbh Sans", serif;

  --color-custom-orange: hsl(26, 100%, 55%);
  --color-custom-pale-orange: hsl(25, 100%, 94%);
}
/* 
html,
body {
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
    -
    
  } */

